html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family: Verdana, sans-serif, Georgia;
	line-height: normal;
	font-size: 11px;
	width: 100%;
	height: 100%;
	background: url(../images/bg_body.jpg) repeat;
	color: #d7cfc8;
}
/* Common
-----------------------------------------------------------------------------*/  
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

h1 {
	margin: 0 0 20px;
	font-size: 22px;
	font-family: Verdana, sans-serif, Georgia;
	font-weight: 300;
	font-style: normal;
	position: absolute;
	left: 145px;
	top: 22px;
	color: #ead4aa;
}

h2 {
	margin: 0 0 15px;
	font-size: 18px;
	font-family: Verdana, sans-serif, Georgia;
	font-weight: 300;
	font-style: normal;
	padding-left: 145px;
	color: #f9da5a;
}

main {
	margin-bottom: 65px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 200px;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.header .lang-list{
	position: absolute;	
	left: 20px;
	top: 42px;
	color: #e8d1a4;
}
.header .lang-list li:nth-child(3){
	display: none;
}
.header .lang-list li:nth-child(4){
	display: none;
}

.header .lang-list a{
	color: #ffffff;
}

.header .lang-item {
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	padding-left: 10px;
	border-left: 2px solid #ffffff;
	white-space: nowrap;
}

.header .lang-item:first-child {
	border: 0;
	padding-left: 0;
	margin-left: 0;
}

.header .auth {	
	position: absolute;
	right: 20px;
	top: 42px;
	white-space: nowrap;
}

.header .auth-link:last-child{
	border: 0;	
	padding-right: 0;
	padding-left: 8px;
}

.header .auth-link {
	border-right: 2px solid #ffffff;
	padding-right: 10px;
}

.header .auth-link.signin a {
	color: #e8d1a4;
}

.header .auth-link a{
	color: #ffffff;	
}

.header .logo{
	display: block;
	position: absolute;
	height: 92px;
	width: auto;
	left: 32px;
	top: 90px;
}

.header .mainmenu {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 140px;
	border-radius: 2px;
	border: 1px solid white;
	background-color: white;
	font-size: 0;
}

.header .menu-item {
	display: inline-block;
	vertical-align: top;
	padding: 0 27px;
	font-size: 14px;
}

.header .menu-item a {
	color: #461500;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
}

.header .menu-item.active{
	background: url(../images/bg_menu-item-active.png);
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	width: 100%;
	position: relative;
	margin-bottom: 140px;
}

.content .promo{
	box-sizing: border-box;
	color: #f9da5a;		 
	height:155px;
    position: relative;
    background: url(../images/bg_about.png),url(../images/bg_promo.png);  
    background-position:55px 50%;
    background-repeat: no-repeat, repeat;
	border: 2px currentColor;
	border-radius: 5px;	
	padding: 65px 45px 30px 145px;
	margin-bottom: 45px;
	line-height: 22px;
	font-style: italic;
}

.article {
	box-sizing: border-box;
	position: relative;
	display: block;
	height: auto;
	margin-bottom: 28px;
}

article img {
	display: block;
	width: 100px;
	height: auto;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%)
	
}


article  p {
	position: relative;
	padding-left: 145px;
	padding-right: 36px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	box-sizing: border-box;
	width: 1000px;
	margin: -75px auto 0;
	height: 75px;	
	position: relative;
	border-top: 2px solid #846540;
}

 footer .copyright {
	position: absolute;
	display: block;
	height: 47px;
	line-height: 47px;
	bottom: 20px;
	left: 11px;
	color: #f9da5a;
	font-size: 11px;
}

.footermenu .menu-list{
	position: absolute;
	right: 14px;
	bottom: 20px;
	font-size: 11px;
	display: block;
	height: 47px;
	line-height: 47px;
	
}

.footermenu  .menu-item {
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	padding-left: 10px;
	/*border-left: 2px solid #ffffff;*/
	white-space: nowrap;
 }

 .footermenu .menu-item:first-child {
	border: 0;
	padding-left: 0;
	margin-left: 0;
 }

.footer a{
	border-left: 2px solid #ffffff;
	 color: white;
	 text-decoration: none;
 }

.footer .menu-list:first-child{
	border: 0;
}

.footer .menu-item{
	display: inline-block;
	vertical-align: middle;
}